name: Merge to Develop Workflow

on:
  pull_request:
    types:
      - closed

jobs:
  merge-to-develop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up branch name
        id: branch-name
        run: echo "BRANCH_NAME=${GITHUB_HEAD_REF}" >> $GITHUB_ENV

      - name: Run bash script
        run: bash ./changelog.sh $BRANCH_NAME

      - name: Get branch creator information
        id: branch-creator
        run: |
          branch_creator_login=$(gh pr view ${{ github.event.pull_request.number }} --json user.login | jq -r '.user.login')
          echo "BRANCH_CREATOR_LOGIN=$branch_creator_login" >> $GITHUB_ENV

      - name: Set Git user.name and user.email
        run: |
          if [[ -z $BRANCH_CREATOR_LOGIN ]]; then
            git config --global user.name "Git User"
            git config --global user.email "gituser@example.com"
          else
            git config --global user.name "${BRANCH_CREATOR_LOGIN}"
            git config --global user.email "${BRANCH_CREATOR_LOGIN}@users.noreply.github.com"
          fi

      - name: Commit and push changes
        run: |
          git status
          git add CHANGELOG.md
          git commit -m "Automatic Changelog Updates"
          git status
          git push --force origin HEAD:$develop