name: Merge to Develop Workflow

on:
  pull_request:
    types:
      - closed

jobs:
  merge-to-develop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up branch name
        id: branch-name
        run: echo "BRANCH_NAME=${GITHUB_HEAD_REF}" >> $GITHUB_ENV

      - name: Run bash script
        run: bash ./changelog.sh $BRANCH_NAME

      - name: Install jq
        run: sudo apt-get install jq

      - name: Get approving user information
        id: approving-user
        run: |
          pull_request_url=$(jq -r '.pull_request.url' "$GITHUB_EVENT_PATH")
          approving_user_login=$(gh pr review-list $pull_request_url --json | jq -r '.reviews[] | select(.state == "APPROVED") | .user.login')
          echo "APPROVING_USER_LOGIN=$approving_user_login" >> $GITHUB_ENV

      - name: Set Git user.name and user.email
        run: |
          git config --global user.name "${APPROVING_USER_LOGIN}"
          git config --global user.email "${APPROVING_USER_LOGIN}@users.noreply.github.com"

      - name: Commit and push changes
        run: |
          git add CHANGELOG.md
          git commit -m "Changes made by script"
          git push origin HEAD:$BRANCH_NAME

      - name: Merge with develop
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "machine github.com login $GH_TOKEN" > ~/.netrc
          gh pr merge ${{ github.event.pull_request.number }} --auto-merge --merge-to develop
